@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/AeonikTRIAL-Regular.otf) format("otf");
  }
  @font-face {
    font-family: "Aeonik";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/AeonikTRIAL-RegularItalic.otf) format("otf");
  }
  @font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/src/assets/fonts/AeonikTRIAL-Light.otf) format("otf");
  }
  @font-face {
    font-family: "Aeonik";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/src/assets/fonts/AeonikTRIAL-LightItalic.otf) format("otf");
  }
  @font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/src/assets/fonts/AeonikTRIAL-Bold.otf) format("otf");
  }
  @font-face {
    font-family: "Aeonik";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/src/assets/fonts/AeonikTRIAL-BoldItalic.otf) format("otf");
  }

  html {
    font-family: "Aeonik", system-ui, sans-serif;
  }
}
